body{
    width: 940px;margin:auto;
    background: #f2f2f2 url(images/p6.png) ;
}
.logo{
    background-image: url(images/p1.svg);
    width: 50px;
    height: 37px;
    background-size: 50px 54px;
    margin-right: 101px;
    margin-bottom: 13px;
}
.dinhcao{position: fixed;
    right: 123px;
    top: 0;
    z-index: 1;}
.dinhcao2{
    padding-top: 70px;
}
.dinhcao3{
    background-color: #222;
    border-color: #080808;
    width: 101%;
    margin-right: -127px;
}/* tìm kiếm */
.search input {
    width: 416px !important;
    height: 30px;
    color: #666;
    background-color: #e5e5e5;
    }
    /* icon search */
    .buttton_search{
        background:url(images/q1.svg)  ;
        width: 15px;
        height: 15px;
        border: 0;
        right: 30px;
        top: 4px;
        position: relative;
    }
    /* buttton */
    .button{
        margin-top: 9px;
        margin-right: 15px;
        border-radius: 2px;
    } .buttton_right_one{
        background-color: initial;
        border-color: #666;
    }
    .button_right_true{
        background-color: #f50;
        border-color: #f50;
    }
    .v1{color:#fff;}
    .v1:hover{
        color: #fff;
        text-decoration: none;
    }
     /* 3 chấm */
    .three{
        background: url(images/3cham.svg);
        width: 22px;
        border: 0;
        margin-left: 0;
        padding: 0;
        opacity: 0.75;
        height: 6px;
        background-size: 22px;
        top: 18px;
        position: absolute;
    }
.main{
    width: 100%;
}
.kkj{position: relative;
right: -378px;}
.mnn{margin-right: 489px;}
.mb{
    padding-bottom: 42px;
    font-size: 25px;
    text-align: center;
    color: #666;
    margin-left: -26px;
    margin-top: 89px;
}
form{
    position: absolute;
    border: 1px solid #d5d2d5;
    border-radius: 10px;
    width: 422px;
    padding: 25px;
   margin: auto;
}
input{
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    height: 45px;
    padding: 0 10px;
    outline: none;
}
input[type="sex"]{
    display: block;
    width: 362px;
}
.none::before{
    border-top: 1px solid #333;
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0.7em;
    width: 45%;
    left: 1px;
}
.none{
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 1em auto;
    position: relative;
    text-align: center;
    display: block;
    margin-top: -15px;
}
.none::after{
    border-top: 1px solid #333;
    content: " ";
    display: inline-block;
    position: absolute;
    top: 0.7em;
    width: 44%;
    right: 7px;
}
label{
    position: relative;
    top: -31px;
    left: 20px;
    font-size: 15px;
    color: #666;
    pointer-events: none;
    border-top: none;
}
.xc a{
    display: block;
    border: 1px solid;
    border-radius: 6px;
    padding: 5px 18px 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a73e8;
}
.mz{width: 5%;
    position: relative;
    top: -41px;
    right: -80px;}
.mx{width: 4%;}
.mc{width: 7%;
    position: relative;
    top: -43px;
}
.nt a{
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 5px 18px 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #222;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
}
.tv a{
    display: block;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 5px 18px 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
}
.mt a{
    display: block;
    border: 1px solid #f50;
    border-radius: 6px;
    padding: 5px 18px 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f50;
}
 a {
    text-decoration: none;
}
.mv{padding-top: 70px;
     position: relative;}
.mn{font-size: 13px;
  position: relative;
right: -306px;}
.mm{font-size: 12px;
  color: #666;}
 
.ha {display: flex;
    position: relative;
    right: 41px;
    margin-top: 92px;
}
.ha li {margin-right: 4px;list-style: none;}
.ha li a{color: rgb(97, 91, 91);font-size: 14px;}
.ha li a:hover{color: #333;}
.hot{margin-left: -118px;}



